<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Error</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   
</head>
<body>
  
    <nav>
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo">FirstEX</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Go Home </a></li>
           
          </ul>
        </div>
      </nav>
<br>
      <div class="container center-align">
        <i class="large material-icons prefix">sentiment_very_dissatisfied</i>
        <h2>Opps !</h2>
        <h4>404 - PAGE NOT FOUND</h4>
      </div>
</body>
</html>